## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description,Date
0,0,Hilo,19.7297,-155.0900,71.80,94,39,4.00,US,scattered clouds,2022-02-06 04:42:21
1,1,Butaritari,3.0707,172.7902,82.58,76,96,17.20,KI,light rain,2022-02-06 04:42:21
2,2,Hermanus,-34.4187,19.2345,71.91,79,79,7.18,ZA,broken clouds,2022-02-06 04:42:22
3,3,Wukari,7.8500,9.7833,67.80,22,0,6.67,NG,clear sky,2022-02-06 04:42:22
4,4,Codrington,-38.2667,141.9667,75.06,50,43,19.57,AU,scattered clouds,2022-02-06 04:42:23

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description,Date
1,1,Butaritari,3.0707,172.7902,82.58,76,96,17.20,KI,light rain,2022-02-06 04:42:21
4,4,Codrington,-38.2667,141.9667,75.06,50,43,19.57,AU,scattered clouds,2022-02-06 04:42:23
10,10,Atuona,-9.8000,-139.0333,78.57,79,45,23.60,PF,light rain,2022-02-06 04:42:25
13,13,Traralgon,-38.1833,146.5333,79.84,38,0,9.57,AU,clear sky,2022-02-06 04:42:26
15,15,New Norfolk,-42.7826,147.0587,77.67,32,0,3.00,AU,clear sky,2022-02-06 04:42:27
17,17,Busselton,-33.6500,115.3333,76.05,58,88,13.47,AU,overcast clouds,2022-02-06 04:42:28
19,19,Popondetta,-8.7537,148.2534,87.48,65,100,5.03,PG,overcast clouds,2022-02-06 04:42:29
24,24,Kota Kinabalu,5.9749,116.0724,87.78,74,20,4.61,MY,few clouds,2022-02-06 04:42:31
25,25,Hithadhoo,-0.6000,73.0833,82.13,73,5,10.29,MV,clear sky,2022-02-06 04:42:31
28,28,Hobart,-42.8794,147.3294,78.03,36,20,17.27,AU,few clouds,2022-02-06 04:42:32

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Weather Description    0
Date                   0
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description,Date
1,1,Butaritari,3.0707,172.7902,82.58,76,96,17.20,KI,light rain,2022-02-06 04:42:21
4,4,Codrington,-38.2667,141.9667,75.06,50,43,19.57,AU,scattered clouds,2022-02-06 04:42:23
10,10,Atuona,-9.8000,-139.0333,78.57,79,45,23.60,PF,light rain,2022-02-06 04:42:25
13,13,Traralgon,-38.1833,146.5333,79.84,38,0,9.57,AU,clear sky,2022-02-06 04:42:26
15,15,New Norfolk,-42.7826,147.0587,77.67,32,0,3.00,AU,clear sky,2022-02-06 04:42:27
...,...,...,...,...,...,...,...,...,...,...,...
541,541,Penha,-26.7694,-48.6458,77.16,93,100,4.07,BR,overcast clouds,2022-02-06 04:57:53
542,542,Port Lincoln,-34.7333,135.8667,79.38,43,6,18.01,AU,clear sky,2022-02-06 04:57:54
543,543,Inhambane,-23.8650,35.3833,78.26,80,56,17.60,MZ,light rain,2022-02-06 04:57:54
544,544,Kampot,10.6167,104.1833,87.85,46,33,7.92,KH,scattered clouds,2022-02-06 04:57:54
547,547,Candelaria,13.9311,121.4233,82.38,59,81,12.57,PH,broken clouds,2022-02-06 04:57:56

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Butaritari,KI,82.58,light rain,3.0707,172.7902,
4,Codrington,AU,75.06,scattered clouds,-38.2667,141.9667,
10,Atuona,PF,78.57,light rain,-9.8000,-139.0333,
13,Traralgon,AU,79.84,clear sky,-38.1833,146.5333,
15,New Norfolk,AU,77.67,clear sky,-42.7826,147.0587,
17,Busselton,AU,76.05,overcast clouds,-33.6500,115.3333,
19,Popondetta,PG,87.48,overcast clouds,-8.7537,148.2534,
24,Kota Kinabalu,MY,87.78,few clouds,5.9749,116.0724,
25,Hithadhoo,MV,82.13,clear sky,-0.6000,73.0833,
28,Hobart,AU,78.03,few clouds,-42.8794,147.3294,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Butaritari,KI,82.58,light rain,3.0707,172.7902,Isles Sunset Lodge
4,Codrington,AU,75.06,scattered clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
10,Atuona,PF,78.57,light rain,-9.8000,-139.0333,Villa Enata
13,Traralgon,AU,79.84,clear sky,-38.1833,146.5333,Comfort Inn Traralgon
15,New Norfolk,AU,77.67,clear sky,-42.7826,147.0587,The Shingles Riverside Cottages

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Save the figure.
fig.savefig("Vacation_Search/WeatherPy_vacation_map.png")

AttributeError: 'Figure' object has no attribute 'savefig'